.navigationbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
}

.placeholder {
    opacity: 0;
    visibility: hidden;
}

.btn {
    color: white;
    padding: 0px;
    background-color: #e5c40096;
    width: 100px;
    margin: 0;
    z-index: 1000;
    margin-left: -20px;
}

.menuBtn {
    margin-left: -20px;
}
