.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    color: black;
    background-color: antiquewhite;
    border: 1px solid #ccc;
    height: 100px;
}